*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.produto{
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    background-color:azure;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.produto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}